
<ng-container *ngIf="(items | filter:'from':termFrom | filterList:'to':termTo
| filter:'subject':termSubject | filter:'body':termBody
| filterDate:'to':termDateTo | filterDate:'from':termDateFrom) as itemsFiltered">

  <table class="table table-striped table-hover table-list">
    <thead>
      <tr class="table-primary">
        <th scope="col">
          From
          <input type="text" [(ngModel)]="termFrom" (ngModelChange)="activePage = 1"
          placeholder="Filter by from..." title="Filter by from..."
          class="form-control form-control--filter" />
        </th>
        <th scope="col">
          To
          <input type="text" [(ngModel)]="termTo" (ngModelChange)="activePage = 1"
          placeholder="Filter by to..." title="Filter by to..."
          class="form-control form-control--filter" />
        </th>
        <th scope="col">
          Subject
          <input type="text" [(ngModel)]="termSubject" (ngModelChange)="activePage = 1"
          placeholder="Filter by subject..." title="Filter by subject..."
          class="form-control form-control--filter" />
        </th>
        <th scope="col">
          Body
          <input type="text" [(ngModel)]="termBody" (ngModelChange)="activePage = 1"
          placeholder="Filter by body..." title="Filter by body..."
          class="form-control form-control--filter" />
        </th>
        <th scope="col">
          Date
          <input type="date" [(ngModel)]="termDateFrom" (ngModelChange)="activePage = 1"
          placeholder="From..." title="From..."
          class="form-control form-control--date" />
          <input type="date" [(ngModel)]="termDateTo" (ngModelChange)="activePage = 1"
          placeholder="To..." title="To..."
          class="form-control form-control--date" />
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of itemsFiltered | pagination:activePage:itemsPerPage">
        <td *ngFor="let col of columns" [ngClass]="'table-list__td-' + col">

          <div *ngIf="col == 'from'">
            {{ row[col] }}
          </div>

          <div *ngIf="col == 'to'">
            {{ row[col] | json }}
          </div>

          <div *ngIf="col == 'subject'">
            <!-- property binding is required for highlight pipe -->
            <span [innerHTML]="row[col] | highlight: termSubject"></span>
          </div>

          <div *ngIf="col == 'body'">
            <!-- property binding is required for highlight pipe -->
            <span [innerHTML]="row[col] | highlight: termBody"></span>
          </div>

          <div *ngIf="col == 'date'">
            {{ row[col] | date:'medium' }}
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <h3 *ngIf="!itemsFiltered.length" class="text-center">
    No items to show.
  </h3>

  <div>
    <app-pagination [totalRecords]="itemsFiltered.length"
    [recordsPerPage]="itemsPerPage" (onPageChange)="displayActivePage($event)"></app-pagination>
  </div>

</ng-container>
