.form-control--filter {
  min-width: 80px;
}

.form-control--date {
  width: 180px;
}

.table-list {
  max-width: 100%;
}

.table-list th {
  vertical-align: top;
}

.table-list .table-list__td-body {
  overflow-wrap: break-word;
  //word-break: break-all;
  //width: 400px;
  max-width: 400px;
}

:host ::ng-deep .search-highlight{
  background-color: #f1f12b; // #F2E366;
}
